@charset "UTF-8";

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#wrap {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    /* padding: 0 30px; */
    box-sizing: border-box;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shadow {
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0.5px 1px 1px) drop-shadow(rgba(0, 0, 0, 0.15) 4px 8px 8px);
}

header #bi img {
    height: 50px;
}

header #sns {
    display: inline-flex;
    align-items: center;
}

header #sns li {
    margin-left: 20px;
}

header #sns li .instagram {
    display: block;
    width: 30px;
}

header #sns li .youtube {
    display: block;
    width: 43px;
}

header #sns li .facebook {
    display: block;
    width: 30px;
}

header #sns li .tiktok {
    display: block;
    width: 30px;
}

header #sns li .x {
    display: block;
    width: 30px;
}
header #sns img {
    width: 100%;
}

/* mainVisual 스타일 */
.mainVisual {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    background: #df7aa2;
}

.mainVisual .swiper {
    width: 100%;
    height: 100%;
}

.mainVisual .swiper .swiper-slide {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainVisual .swiper .swiper-slide.slide-1 {
    background-image: url('../images/slider_image_01.jpg');
}

.mainVisual .swiper .swiper-slide.slide-2 {
    background-image: url('../images/slider_image_02.jpg');
}

.mainVisual .swiper .swiper-slide.slide-3 {
    background-image: url('../images/slider_image_03.jpg');
}

.mainVisual .swiper .swiper-slide .content {
    margin-left: 20vh;
    margin-top: 30vh;
}

.mainVisual .swiper .swiper-slide .content .downloadLinkBox {
    margin-top: 30px;
    font-size: 0;
    display: flex;
}

.mainVisual .swiper .swiper-slide .content .downloadLinkBox a.downloadLink {
    display: block;
    text-decoration: none;
    width: 200px;
    margin-right: 10px;
}

.mainVisual .swiper .swiper-slide .content .downloadLinkBox a.downloadLink img {
    width: 100%;
}

.mainVisual .swiper .swiper-slide .content .caption {
    font-family: 'PyeongChangPeace-light';
    letter-spacing: 0.3rem;
    font-size: 60px;
    color: #fff;
    line-height: 120%;
}
/* slider 스타일 */
section.downloadLinkBox {
    display: none;
    padding: 30px 0;
    font-size: 0;
    justify-content: center;
    align-items: center;
}

section.downloadLinkBox a.downloadLink {
    display: block;
    text-decoration: none;
    width: 200px;
    max-width: 40vw;
    margin-right: 10px;
}

section.downloadLinkBox a.downloadLink:last-child {
    margin-right: 0;
}

section.downloadLinkBox a.downloadLink img {
    width: 100%;
}

section.default .title {
    line-height: 1.1;
    font-family: 'PyeongChangPeace-light';
    font-size: 50px;
    color: #8b78d1;

}

section.default .desc {
    line-height: 1.3;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    color: #df7aa2;

}

.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    justify-content: space-between;
}

.contentText {
    /* flex: 1; */
}

.contentImg {
    margin-left: 0px;
    /* 이미지와 텍스트 사이의 간격을 조절할 수 있습니다. */
}

section.download {
    position: relative;
    display: flex;
    width: 100%;
    height: 680px;
    justify-content: center;
}

section.download .downloadWrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    overflow: hidden;
    background: url(../images/bottom_image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

section.download .downloadBox {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

section.download .download_text {
    line-height: 1.1;
    font-family: 'PyeongChangPeace-light';
    font-size: 50px;
    color: #ffffff;
}

section.download .download-button-group {
    margin-top: 100px;
}

section.download .download-button-group .download-button {
    display: inline-block;
    width: 160px;
    max-width: 40vw;
    margin-right: 10px;
}

section.download .download-button-group .download-button img {
    width: 100%;
}

section.download .title {
    line-height: 1.1;
    font-family: 'PyeongChangPeace-light';
    font-size: 50px;
    color: #8b78d1;
}

section.download .desc {
    line-height: 1.3;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    color: #df7aa2;
}

footer {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 50px 0;
    display: block;
    font-size: 12px;
}
.footer ul li {
    display: inline-block;
    color: #aaaaaa;

}

.footer ul li:after {
    content: "|";
    color: #aaaaaa;
    margin-left: 10px;
    margin-right: 5px;
}

.footer .list {
    margin-top: 50px;
    margin-left: 15px;
}

.footer .information {
    margin-top: 10px;
    margin-left: 15px;
}

.footer .copyright {
    margin-top: 30px;
    margin-left: 15px;
}




/* 창 크기가 작아질 때의 스타일 */
@media (max-width: 1300px) {
    section.default img{
        max-width: 100%;
    }

    section.default .title{
        font-size: 6vw;
    }

    section.default .desc{
        font-size: 3.7vw;
    }
    
    section.default.default-1 .inner {
        width: 96%;
        margin-left: 2%;
        flex-direction: column;
        /* 세로로 나열하도록 변경 */
        align-items: center;
        /* 가운데 정렬 */
        text-align: center;
    }

    section.default.default-1 .contentImg {
        margin-top: 20px;
        /* 이미지와 텍스트 사이의 간격 조정 */
        order: -1;
        /* 이미지를 텍스트보다 위로 이동 */
        margin-bottom: 20px;
    }

    section.default.default-2{
        margin-top: 10vw;
    }

    section.default.default-2 .inner {
        width: 96%;
        margin-left: 2%;
        flex-direction: column;
        /* 세로로 나열하도록 변경 */
        align-items: center;
        /* 가운데 정렬 */
        text-align: center;
    }

    section.default.default-2 .contentImg {
        margin-top: 20px;
        /* 이미지와 텍스트 사이의 간격 조정 */
        order: -1;
        /* 이미지를 텍스트보다 위로 이동 */
        margin-bottom: 20px;
    }

    section.default.default-3{
        margin-top: 10vw;
    }

    section.default.default-3 .inner {
        width: 96%;
        margin-left: 2%;
        flex-direction: column;
        /* 세로로 나열하도록 변경 */
        align-items: center;
        /* 가운데 정렬 */
        text-align: center;
    }

    section.default.default-3 .contentImg {
        margin-top: 20px;
        /* 이미지와 텍스트 사이의 간격 조정 */
        order: -1;
        /* 이미지를 텍스트보다 위로 이동 */
        margin-bottom: 20px;
    }

}
@media (max-width: 768px) {
    .mainVisual {
        height: calc(60vh - 60px);
    }

    .mainVisual .swiper .swiper-slide.slide-1 {
        background-position: 70% center;
    }

    .mainVisual .swiper .swiper-slide.slide-2 {
        background-position: center;
    }

    .mainVisual .swiper .swiper-slide.slide-3 {
        background-position: 70% center;
    }

    .mainVisual .swiper .swiper-slide .content {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainVisual .swiper .swiper-slide .content .downloadLinkBox {
        display: none;
    }

    .mainVisual .swiper .swiper-slide .content .caption {
        font-size: 10vw;
        color: rgba(255, 255, 255, 0.7);
    }

    section.downloadLinkBox {
        display: flex;
    }

    section.download{
        margin-top: 10vw;
    }

    section.download .downloadBox{
        background-color: rgba(0,0,0,0.5);
    }

    section.download .download_title{
        font-family: 'PyeongChangPeace-light';
        font-weight: bold;
        text-align: center;
        font-size: 6.5vw;
        line-height: 1.5;
        letter-spacing: 0.75vw;
    }

    section.download .download-button-group{
        text-align: center;
    }

}